.icon-wrap {
  position: fixed;
  top: 250px;
  right: 5%;
  /* 防止宿主页元素遮挡 */
  z-index: 1;
}

.panel-wrap {
  position: fixed;
  width: 400px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  bottom: 0;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px -20px, rgba(0, 0, 0, 0.04) 0px 0px 1px 1px;
}

.single-sentence-wrap {
  padding: 20px 40px;
}
.single-sentence {
  margin-bottom: 4px;
  list-style: decimal;
}
